.upcoming-matches {
    background-color: #fff;
    min-height: 100vh;
  }
  
  .partidos-content {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .partidos-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .partidos-subtitulo {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .card-match {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #a8a8a8; /* borde azul */
  }
  
  
  /* SECCIÓN IZQUIERDA - Equipos y marcador */
  .match-teams {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 2;
  }
  
  .team-row {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .team-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .team-name {
    flex: 1;
  }
  
  .score {
    font-size: 20px;
    font-weight: bold;
    color: #1c1c1c;
  }
  
  /* Separador visual vertical */
  .divider {
    width: 1px;
    height: 70px;
    background-color: #ccc;
    margin: 0 15px;
  }
  
  /* CENTRO - Información del campo y hora */
  .match-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    font-size: 14px;
  }
  
  .match-info p {
    margin: 0;
  }
  
  .field-subinfo {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .icono-mapa,
  .map-icon {
    width: 18px;
    vertical-align: middle;
  }
  
  /* DERECHA - Árbitro */
  .referee-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
    font-size: 14px;
  }
  
  .referee-info p {
    margin: 0;
  }


  .encabezado-seccion {
    background-color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    width: 100%;
  }
  
  .encabezado-texto {
    font-weight: bold;
    color: #f4b942;
    font-style: italic;
    font-size: 18px;
  }
  
  .jornada-subtitulo {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 25px;
  }