.estadisticas-container {
  padding: 30px 50px;
  position: relative;
}

.estadisticas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.estadisticas-title {
  display: flex;
  align-items: center;
  background: black;
  color: #f5af2d;
  font-weight: bold;
  font-size: 24px;
  padding: 12px 25px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.estadisticas-title img {
  width: 30px;
  margin-right: 12px;
}

.estadisticas-tabla {
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.estadisticas-cabecera,
.estadisticas-fila {
  display: grid;
  grid-template-columns: 2fr 1fr repeat(8, 1fr);
  padding: 14px 20px;
  align-items: center;
}

.estadisticas-cabecera {
  background: #111a3a;
  color: gold;
  font-weight: bold;
}

.estadisticas-fila {
  background: white;
  border-bottom: 1px solid #eee;
}

.estadisticas-fila:nth-child(even) {
  background: #f5f5f5;
}

.team-nombre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.team-nombre img {
  width: 25px;
}

.fase-select {
  font-weight: bold;
  border: none;
  background: transparent;
  font-size: 14px;
  text-align: center;
  padding: 6px;
  font-style: italic;
  background-color: #0d1b42;
  color: gold;
  border-radius: 6px;
}

.dashboard-stadistic-background {
  position: absolute;
    top: 25px;
    left: 0;
    width: 50%;
    height: 40%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    z-index: -1;
    margin-top: 45px;
}